<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>hello-world.md</string>
		</array>
		<array>
			<string>java-io.md</string>
		</array>
		<array>
			<string>sql.md</string>
		</array>
		<array>
			<string>dbutils.md</string>
		</array>
		<array>
			<string>hexo.md</string>
		</array>
		<array>
			<string>sql-base.md</string>
		</array>
	</array>
</dict>
</plist>
